{% extends 'vmgame/base.html' %}

{% block title %}EnterPicks{% endblock %}

{% block body_block %}

	<h1>Registered VM Game players</h1>
	
	{% if user_picks != None %}
	            <ul>
	                {% for pick in user_picks%}
			<li><a href="/vmgame/displaypicks/{{pick.id}}">Display pick {{pick.pick_name}}</a></li>
	                {% empty %}
                        <strong>There are no picks on record.</strong>
	                {% endfor %}
	            </ul>
	{% elif display_pick != None  %}
                 <pre> {{ display_pick.print_detail }} </pre>
	{% else  %}
	            <strong>There are no picks on record.</strong>
	{% endif %}
	
	
        
{% endblock %}
