{% extends 'vmgame/base.html' %}

{% block title %} Registered VM Game players {% endblock %}

{% block body_block %}
	
		{% if picks %}
	            <ul>
	                {% for p in picks %}
	                <!-- Following line changed to add an HTML hyperlink -->
					<li><a href="/vmgame/displaypicks/{{p.url}}">{{ p.pick_name }}</a></li>
	                {% endfor %}
	            </ul>
	    {% else %}
	            <strong>There are no picks in the database.</strong>
	    {% endif %}
	
	
        
{% endblock %}